In [154]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
import sklearn
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [155]:
df=pd.read_csv('medical_cost_insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [156]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [157]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [158]:
df.sample()

     age   sex   bmi  children smoker     region    charges
908   63  male  39.8         3     no  southwest  15170.069

In [159]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [161]:
df.isnull()

        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]

In [162]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [163]:
le=LabelEncoder()
df['region']=le.fit_transform(df['region'])
df['region']

0       3
1       2
2       2
3       1
4       1
       ..
1333    1
1334    0
1335    2
1336    3
1337    1
Name: region, Length: 1338, dtype: int32

In [164]:
le=LabelEncoder()
df['sex']=le.fit_transform(df['sex'])
df['sex']

0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    0
1335    0
1336    0
1337    0
Name: sex, Length: 1338, dtype: int32

In [165]:
le=LabelEncoder()
df['smoker']=le.fit_transform(df['smoker'])
df['smoker']

0       1
1       0
2       0
3       0
4       0
       ..
1333    0
1334    0
1335    0
1336    0
1337    1
Name: smoker, Length: 1338, dtype: int32

In [166]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [167]:
# only X input data
x=df.iloc[:,0:-1]
x

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [168]:
# only y output data
y=df.iloc[:,-1]
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [169]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20,random_state=30)

In [170]:
x_train.shape

(1070, 6)

In [171]:
x_test.shape

(268, 6)

In [172]:
y_train.shape

(1070,)

In [173]:
y_test.shape

(268,)

In [174]:
lm = LinearRegression()

In [175]:
lm.fit(x_train,y_train)

LinearRegression()

In [176]:
pred=lm.predict(x_test)
pred

array([35760.48352429,  5381.15877497,  5326.21766314, 26714.85102127,
       12536.55172969,  7210.02475326,  5378.1801543 ,  9941.25243909,
       33869.01951699, 11522.7226458 ,  7475.81296657,  9669.31067581,
       35042.55070011, 11722.99700646,  1941.85622655, 35714.11776337,
       11839.46078525,  9421.96380426, 28594.46093725, 11155.36490257,
        1619.36866582,  8977.3208754 ,  7469.85098802, 11532.12518555,
       32714.79282397, 38873.51048088, 15208.03676714,  3908.90268189,
       11314.23458842, 15452.3692687 ,  2326.54955806, 30493.60268419,
        1987.03357501, 14939.16489193, 12151.5201976 ,  8882.53511476,
        1833.07586263,  7155.44486504,   883.01353844,  8208.87967374,
        7534.85600064, 34681.06236394,  3072.81944909, 14667.90486147,
       10601.21875205, 30379.8238166 ,  5983.64912476,  3001.49360843,
        3040.69595485,  6222.31779483, 11067.73287422, 12884.58692487,
       11832.37225086,  1560.5669767 , 10981.18827091,  8004.98134596,
       32059.08952625,  3697.20632907, 13513.94388978,  5601.87635169,
       14766.25677738, 11126.41888177, 11655.79915514,  8198.00807576,
        -344.24500719,  8155.24927397, 10842.7309992 ,  1023.71423962,
        3090.99577965, 14556.96192305, 10262.81891241,  2967.17984879,
        -322.28895433, 10314.06895588, 16138.65308284,  -206.90023796,
       12635.27463846, 10370.57439794, 31566.2314229 ,  3666.83603598,
        1635.94226558, 11082.39584699, 10155.19759938, 30410.84377805,
        1021.01765823, 16411.31601312,  9453.49779362, 18110.251941  ,
        8620.31260605, 11199.38301003, 13565.42876324, 14415.37599091,
       26700.00455555, 10911.32180866, 37251.92922307,  5953.13875366,
       10565.697151  ,  1293.67756454,  7702.97675519, 36147.67289606,
       34714.34481964,  9062.57042372, 10570.63120708,  8286.9873134 ,
       32801.36655854, 26696.03900638,  6769.80416641, 35675.70612625,
       34116.4733508 ,  1546.98408069, 10988.42547165,  7377.75686376,
        1347.92188575, 27600.50021184,  5468.29993181,  4712.37889722,
       12952.81679025, 10825.4088851 , 10264.25265431, 15185.95338023,
        4350.82266264, 13310.87243111, 36246.37539287, 14935.90686314,
       29978.67925188, 11044.65454964, 13788.69853911,  8248.96894187,
       31439.76729067, 11734.22151926, 10823.49258049,  6176.76975314,
       34091.9410459 , 26782.17824093, 12545.48502987,  2458.40749624,
       40676.19716507, 24921.19851754, 12474.31261046,  6563.64103668,
       13294.9518434 , 10617.14531462,  3782.17355856, 37041.10674836,
        7459.63212255, 11453.50491148,  6078.71262048,  3681.99799655,
        9685.99355168, 32742.3416025 , 16060.46362768,  7096.13052144,
       10656.26911991,  6468.7830094 ,  8973.64610489,  8268.83569663,
        5035.44495354, 13015.08039297, 17549.50784807,  6146.11742076,
       11008.02650508, 31539.7788088 , 15071.91549639, 10465.69268152,
       15291.87575005, 15040.04964498, 34627.30463011,  8060.17010109,
        7445.20237846,  1849.74096009,  7989.33682268, 12509.1684354 ,
        6228.82446983,  5454.64551948, 33696.60039069,  7525.12965724,
        3286.33180011, 10404.27329572, 15054.55287808, 29978.53182558,
       11285.94327042, 13865.77583535,   928.78009216,  1086.23715821,
       38955.44787583, 27945.98383097, 27785.62835603,  7728.87730446,
       31868.99535094, 14718.32101102,   193.01279903,  9575.02358564,
       14296.88969555, 11462.38671824,  2556.3861748 , 12050.05664934,
       16034.74659145, 30891.37687986, 30294.47927583,  5909.7336248 ,
       10393.7906792 ,  2570.81351802,  7156.66501983,  6629.67489209,
       27919.43267052,  1108.20625467,  4966.28599158, 36872.40150327,
       35827.21659129, 36935.29008065,  6917.44101057,  7381.34341091,
       39448.50084506,  6844.37929648,  5608.90703405, 38908.80483052,
        5749.11780654,  3550.12765796, 16556.11454492, 28306.89703294,
        9903.80498457, 38596.83858652, 12795.46403521,  2373.95795568,
        3256.63186688, 10191.85575581, 10045.8019631 ,  8121.63660916,
        7688.96439359,  3845.00764771,  9045.36799576, 11346.34670971,
       10034.69711635, 13444.62088394, 10509.75082242, 31335.13522095,
       30186.00871144, 10935.20412549,  7674.81007073, 27808.53147637,
       16875.7932041 , 15198.92834975,  9693.28595078,  5942.30196216,
       16185.72632396, 11725.94626557,  2249.57153839,  4057.70418284,
        6135.05431828, 16149.98852471,  4254.70181357, 10220.30376943,
       14258.86607937, 37730.38534017, 25648.25942076,  5122.08347551,
       11432.04512582, 11922.75871262, 11651.74801619, 27601.98703078,
        9597.51865973, 16205.43995711,  6100.63457697, 12322.22429302,
       15876.41659011,  6543.96987802, 12159.19393266,  4816.69949676])

In [177]:
lm.intercept_

-11664.498919838006

In [178]:
lm.score(x_train,y_train)

0.7475092736880848

In [179]:
pred=lm.predict(x_test)
print("predicted result value:",pred)
print("actual price:",y_test)

predicted result value: [35760.48352429  5381.15877497  5326.21766314 26714.85102127
 12536.55172969  7210.02475326  5378.1801543   9941.25243909
 33869.01951699 11522.7226458   7475.81296657  9669.31067581
 35042.55070011 11722.99700646  1941.85622655 35714.11776337
 11839.46078525  9421.96380426 28594.46093725 11155.36490257
  1619.36866582  8977.3208754   7469.85098802 11532.12518555
 32714.79282397 38873.51048088 15208.03676714  3908.90268189
 11314.23458842 15452.3692687   2326.54955806 30493.60268419
  1987.03357501 14939.16489193 12151.5201976   8882.53511476
  1833.07586263  7155.44486504   883.01353844  8208.87967374
  7534.85600064 34681.06236394  3072.81944909 14667.90486147
 10601.21875205 30379.8238166   5983.64912476  3001.49360843
  3040.69595485  6222.31779483 11067.73287422 12884.58692487
 11832.37225086  1560.5669767  10981.18827091  8004.98134596
 32059.08952625  3697.20632907 13513.94388978  5601.87635169
 14766.25677738 11126.41888177 11655.79915514  8198.00807576
  -344.24500719  8155.24927397 10842.7309992   1023.71423962
  3090.99577965 14556.96192305 10262.81891241  2967.17984879
  -322.28895433 10314.06895588 16138.65308284  -206.90023796
 12635.27463846 10370.57439794 31566.2314229   3666.83603598
  1635.94226558 11082.39584699 10155.19759938 30410.84377805
  1021.01765823 16411.31601312  9453.49779362 18110.251941
  8620.31260605 11199.38301003 13565.42876324 14415.37599091
 26700.00455555 10911.32180866 37251.92922307  5953.13875366
 10565.697151    1293.67756454  7702.97675519 36147.67289606
 34714.34481964  9062.57042372 10570.63120708  8286.9873134
 32801.36655854 26696.03900638  6769.80416641 35675.70612625
 34116.4733508   1546.98408069 10988.42547165  7377.75686376
  1347.92188575 27600.50021184  5468.29993181  4712.37889722
 12952.81679025 10825.4088851  10264.25265431 15185.95338023
  4350.82266264 13310.87243111 36246.37539287 14935.90686314
 29978.67925188 11044.65454964 13788.69853911  8248.96894187
 31439.76729067 11734.22151926 10823.49258049  6176.76975314
 34091.9410459  26782.17824093 12545.48502987  2458.40749624
 40676.19716507 24921.19851754 12474.31261046  6563.64103668
 13294.9518434  10617.14531462  3782.17355856 37041.10674836
  7459.63212255 11453.50491148  6078.71262048  3681.99799655
  9685.99355168 32742.3416025  16060.46362768  7096.13052144
 10656.26911991  6468.7830094   8973.64610489  8268.83569663
  5035.44495354 13015.08039297 17549.50784807  6146.11742076
 11008.02650508 31539.7788088  15071.91549639 10465.69268152
 15291.87575005 15040.04964498 34627.30463011  8060.17010109
  7445.20237846  1849.74096009  7989.33682268 12509.1684354
  6228.82446983  5454.64551948 33696.60039069  7525.12965724
  3286.33180011 10404.27329572 15054.55287808 29978.53182558
 11285.94327042 13865.77583535   928.78009216  1086.23715821
 38955.44787583 27945.98383097 27785.62835603  7728.87730446
 31868.99535094 14718.32101102   193.01279903  9575.02358564
 14296.88969555 11462.38671824  2556.3861748  12050.05664934
 16034.74659145 30891.37687986 30294.47927583  5909.7336248
 10393.7906792   2570.81351802  7156.66501983  6629.67489209
 27919.43267052  1108.20625467  4966.28599158 36872.40150327
 35827.21659129 36935.29008065  6917.44101057  7381.34341091
 39448.50084506  6844.37929648  5608.90703405 38908.80483052
  5749.11780654  3550.12765796 16556.11454492 28306.89703294
  9903.80498457 38596.83858652 12795.46403521  2373.95795568
  3256.63186688 10191.85575581 10045.8019631   8121.63660916
  7688.96439359  3845.00764771  9045.36799576 11346.34670971
 10034.69711635 13444.62088394 10509.75082242 31335.13522095
 30186.00871144 10935.20412549  7674.81007073 27808.53147637
 16875.7932041  15198.92834975  9693.28595078  5942.30196216
 16185.72632396 11725.94626557  2249.57153839  4057.70418284
  6135.05431828 16149.98852471  4254.70181357 10220.30376943
 14258.86607937 37730.38534017 25648.25942076  5122.08347551
 11432.04512582 11922.75871262 11651.74801619 27601.98703078
  9597.51865973 16205.43995711  6100.63457697 12322.22429302
 15876.41659011  6543.96987802 12159.19393266  4816.69949676]
actual price: 338    41919.09700
620     3659.34600
965     4746.34400
128    32734.18630
329     9144.56500
          ...
580    12913.99240
786    12741.16745
321    24671.66334
903     8125.78450
613     6753.03800
Name: charges, Length: 268, dtype: float64

In [180]:
# y= a+bx+e (e=error,mse,mae,Rmse)
print('error:')
print('mean absolute error:',mean_absolute_error(y_test,pred))
print('mean squared error:',mean_squared_error(y_test,pred))
print('Root mean squared error:',np.sqrt(mean_squared_error(y_test,pred)))

error:
mean absolute error: 4178.116485416856
mean squared error: 36984561.846271716
Root mean squared error: 6081.493389478584

In [181]:
# r2 score--> Cofficient of Determination
# x ki value change hone par y ki value kitani change hoti he.
from sklearn.metrics import r2_score
print(r2_score(y_test,pred))

0.7602344599010098

In [183]:
t=np.array([14258.86607937,37730.38534017,25648.25942076 ,5122.08347551])

In [184]:
t.shape

(4,)

In [185]:
# linearRegression work on 2d Dimesnsion data (rows,columns) format
# how to change above ROW format into  the (rows,columns) format
t=t.reshape(1,-1)

In [186]:
t.shape

(1, 4)